<% if can? :manage, :all %>
<title>Admin Help</title>
<h3>Admin Help Video</h3>
<object width="100%" height="700"
classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"
codebase="http://www.apple.com/qtactivex/qtplugin.cab">
<param name="src" value="../../../admin_help.mov">
<param name="autoplay" value="true">
<param name="controller" value="false">

<embed src="../../../admin_help.mov" width="100%" height="700" border="3"
autoplay="true" controller="false"
pluginspage="http://www.apple.com/quicktime/download/">
</embed>
</object>
<% else %>
<title>Help</title>
<h3>User Help Video</h3>

<object width="100%" height="700"
classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"
codebase="http://www.apple.com/qtactivex/qtplugin.cab">
<param name="src" value="../../../user_help.mov">
<param name="autoplay" value="true">
<param name="controller" value="false">

<embed src="../../../user_help.mov" width="100%" height="700" border="3"
autoplay="true" controller="false"
pluginspage="http://www.apple.com/quicktime/download/">
</embed>
</object>
<% end %>