 <title>Dev Team</title>
  <h3>About Us</h3>


<div id="aboutus">

                <div id="layer1">
                    <img src="../assets/Merzi.jpg"/>
                                <p>
                                Anees Merzi spends most of his time looking for the next big thing.
                                Splitting time between working on Rails 3, Arabic, and Working-Out, he
                                is constantly on the grind. This is his first complete app and the
                                future looks bright for him! When he is not doing the above, he
                                enjoys playing Call of Duty Online and/or Sports.
                                </p>

                                <a href="mailto:anees.mahmoud.merzi@us.army.mil">Contact Me</a>

                                </div>
                <div id="layer2">
                  <img src="../assets/cook.jpg"/>

                                <p>
                                COL Cook Tanks Hard 24/7.
                                </p>

                                <a href="mailto:tom.cook@us.army.mil">Contact Me</a>

                                </div>

                <div id="layer3">
                                <img src="../assets/hamilton.jpg"/>
                                <p>
                                MAJ Hamilton taught IS450, Ruby on Rails from 2010-2011, which was a conversion from PHP.  This change resulted in updating this site to Ruby on Rails from PHP.  He since moved from West Point to defend America on the Cyber Frontier at US Cybercommand.  He still codes in Rails in his free time to keep his skills up.</p>

                                <a href="mailto:stephen.hamilton@us.army.mil">Contact Me</a> </div>
                </div>
