body{
               margin:0;
               background-color:#EFEFDF;
               color:#000;
               position:relative;
}

ul{

               list-style-type:none;
}
.spacer{
               clear:both;
               font-size:0;
               line-height:0;
}

#header{
               background: url(header.gif) no-repeat;
               width:981px;
               position:relative;
               margin:0 auto;
               height: 320px;
               padding:0 0 0px 0;



}

#header ul li{
               float:left;
}
#header ul li a{
               display:block;
               background:url(Untitled.jpg) 0 0 repeat-x;
               font:bold 11px/27px Arial, Helvetica, sans-serif;
               color:#323232;;
               text-decoration:none;

}
#header ul li a:hover{
               background:url(ACU.jpg) 0 0 repeat-x;
               font:bold 11px/27px Arial, Helvetica, sans-serif;
               color:#fff;
               
}

#header img.logo{
               position:absolute;
               left:10px;
               top:68px;
}
#header img.logo2{
               position:absolute;
               right:10px;
               top:68px;
}


#header p.topText{
               font:normal 18px/23px Arial, Helvetica, sans-serif;
               color:white;
               background-color:inherit;
               position:absolute;
               left:285px;
               top:192px;
               width:588px;
}
#header p.topText span.smallTxt{
               font:normal 20px/24px Arial, Helvetica, sans-serif;
               color: #f7f707;
               background-color:inherit;


}

#subhead
{
               width:966px;
               height:42px;
               background: 0 0 repeat-x #323232;
               color:#fff;
               position:relative;
               border: 5px solid white;
               outline: 1px solid #D4D4C6;
               top: 279px;
               left: 3px;
               bottom: 200px;
               float: left;
}

#subhead ul {
    		   display:block;
  			   padding:5px 0 0 328px;
  			   margin:0 auto;
  			   font:bold 11px/27px Arial, Helvetica, sans-serif;
               color:#344A04;
}

#subhead ul li{
               border: white solid 1px;
               padding:2px 1px 1px 1px;
}


#subhead ul li a{
               padding:0  14px 0 14px;
}

#Admin ul {
    		   margin: 0 0 0 298px;
   			   display:block;
               font:bold 11px/27px Arial, Helvetica, sans-serif;
               color:#344A04;
}

#Admin ul li a:hover{
               background:url(ACU.jpg) 0 0 repeat-x;
               font:bold 11px/26px Arial, Helvetica, sans-serif;
               color:#fff;
               background-color:inherit; 
}


  #Admin ul li{

               float:left;
               padding:0 1px 1px 1px;
               outline: 1px solid #323232;
  }

#Admin ul li a{
               display:block;
               background:url(Untitled.jpg);
               padding:0  14px 0 14px;
               font:bold 11px/27px Arial, Helvetica, sans-serif;
               color:#344A04;
               text-decoration:none;
               border: white solid 1px;
}

#body{
               width:978px;
               padding:1px 0 5px 0;
               margin:0 auto;
               position: relative;
}

#left{
               width:357px;
               height: 325px;
               float:left;
               padding: 29px 0px 5px 0;
}
#left1{
               width:324px;
               background:url(lft_box_bg.gif) 0 0 no-repeat #EAEADA;
               outline: solid #323232 4px;
               border:  solid white 6px;
               margin:0 0 10px 5px;
               padding:5px 10px 6px 9px;
               color:#878767;
}


#left1 a.pic1 {
               display:block;
               background:url(tix1.png) 0 0 no-repeat;
               width:74px;
               height:74px;
               margin:5px 0 0 0;
               float:left;
}
#left1 p.boxTxt1{
               float:right;
               padding:0 0 0 15px;
               border-left:#F9F9F1 solid 2px;
               font:italic 11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
               width:199px;
               color:#323232;
               

}
#left1 p.boxTxt1 span{
               font:normal 19px/17px Arial, Helvetica, sans-serif;
               color:#f7f707;
               background-color:inherit;
               padding:0 0 0 25px;
               margin:0 0 10px 0;
               height:17px;
               display:block;

}

#left1 p span a{ 
			  text-decoration: none; 
			  color: black;
}




#left2{
               width:324px;
               background:url(lft_box_bg.gif) 0 0 no-repeat #EAEADA;
              outline: solid #323232 4px;
                border:  solid white 6px;
               margin:0 0 10px 5px;
               padding:5px 10px 6px 9px;
               color:#878767;

}
#left2 p.pic2{
               display:block;
               background:url(tix1.png) 0 0 no-repeat;
               width:74px;
               height:74px;
               margin:5px 0 0 0;
               float:left;
}


#left2 p.boxTxt2{
               float:right;
               padding:0 0 0 15px;
               border-left:#F9F9F1 solid 2px;
               font:italic 11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
               width:199px;
               color:#323232;
}
#left2 p.boxTxt2 span{
               font:normal 19px/17px Arial, Helvetica, sans-serif;
               color:#D76E08;
               background-color:inherit;
               padding:0 0 0 25px;
               margin:0 0 10px 0;
               height:17px;
               display:block;
}

#left2 p span a{
    		   text-decoration:none;
    		   color: black;
}


#left3{
               width:324px;
               background:url(lft_box_bg.gif) 0 0 no-repeat #EAEADA;
               outline: solid #323232 4px;
               border:  solid white 6px;
               margin:0 0 10px 5px;
               padding:5px 10px 6px 9px;
               color:#878767;
}
#left3 p.pic3{
               display:block;
               background:url(tix1.png) 0 0 no-repeat;
               width:74px;
               height:74px;
               margin:5px 0 0 0;
               float:left;

}
#left3 p.boxTxt3{
               float:right;
               padding:0 0 0 15px;
               border-left:#F9F9F1 solid 2px;
               font:italic 11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
               width:199px;
               color:#323232;
}
#left3 p.boxTxt3 span{
               font:normal 19px/17px Arial, Helvetica, sans-serif;
               padding:0 0 0 25px;
               margin:0 0 10px 0;
               height:17px;
               display:block;
}

#left3 p span a{
    text-decoration: none;
    color: black;
}

#right{
               width:608px;
               height:auto;
               float:right;
               background-color:#EFEFDF;
}
#right2{
               width:608px;
               height:auto;
               float:right;
               background-color:#EFEFDF;
}
#right p.rightTop{
               display:block;
               background:url(right_top.gif) 0 0 no-repeat;
               width:608px;
               height:26px;
}
#right h2{
               font:bold 30px/22px Arial, Helvetica, sans-serif;
               color:#222222;
               background-color:inherit;
               padding:0 0 0 28px;
               display:block;
}
#right h3{
               font:bold 12px/14px Arial, Helvetica, sans-serif;
               color:#222222;
               text-decoration:none;
               background-color:inherit;
               padding:0 0 0 495px;
               display:block;
}
#right h4{
               font:bold 12px/14px Arial, Helvetica, sans-serif;
               color:#222222;
               text-decoration:none;
               background-color:inherit;
               padding:0 0 0 560px;
               display:block;
}
#right2 h2{
               font:bold 30px/22px Arial, Helvetica, sans-serif;
               color:#222222;
               background-color:inherit;
               padding:0 0 0 28px;
               display:block;
}
#right2 h3{
               font:bold 12px/14px Arial, Helvetica, sans-serif;
               color:#222222;
               text-decoration:none;
               background-color:inherit;
               padding:0 0 0 495px;
               display:block;
}
#right2 h4{
               font:bold 12px/14px Arial, Helvetica, sans-serif;
               color:#222222;
               text-decoration:none;
               background-color:inherit;
               padding:0 0 0 560px;
               display:block;
}
#right p.rightTxt1{
               font:normal 15px/18px Arial, Helvetica, sans-serif;
               color:#323232;
               background-color:inherit;
               padding:0 5px 0 28px;
}
#right p.rightTxt1 span{
               font:bold 17px/18px Arial, Helvetica, sans-serif;
               color:#5F860B;
               background-color:inherit; 
} 
#right p.rightTxt2{
               font:normal 13px/18px Arial, Helvetica, sans-serif;
               color:#323232;
               background-color:inherit;
               padding:0 0 0 28px;
               float:left;
               width:349px;
               margin:0 37px 0 0;
}


#right p.rightTxt2{
             font:normal 15px/18px Arial, Helvetica, sans-serif;
               color:#323232;
               background-color:inherit;
               padding:0 5px 0 28px;


}

#right p.rightTxt2 span{
               font: italic 17px/18px Arial, Helvetica, sans-serif;
               color:#323232;
               background-color:inherit;
               width:340px;
               display:block;
               padding:0 0 0 0;

}
#right p.rightTxt3{
             font:normal 13px/18px Arial, Helvetica, sans-serif;
               color:#323232;
               background-color:inherit;
               padding:0 5px 0 28px;


}

#right p.rightTxt3 span{
               font: italic 17px/18px Arial, Helvetica, sans-serif;
               color:#323232;
               background-color:inherit;
               width:340px;
               display:block;
               padding:0 0 0 0;

}
#right p.rightPic{
               display:block;
               background:url(right_panel.png) 0 0 no-repeat;
               width:166px;
               height:188px;
               float:right;


}
#right p.rightPic2{
               display:block;
               background:url(right_panel.png) 0 0 no-repeat;
               width:166px;
               height:188px;
               float:right;


}


#footer{
               width:970px;
               height:115px;
               margin:0 auto;
               background: 0 0 repeat-x #323232;
               color:#fff;
               position:relative;
   			   border: 5px solid white;
    		   outline: 1px solid #D4D4C6;
    		   top: 30px;

}
#footer ul{
               width:587px;
               position:absolute;
               left:316px;
               top:17px;

}
#footer ul li{
               float:left;
               color:#D4D4C6;
               background-color:inherit;
               font:normal 11px/19px Arial, Helvetica, sans-serif;

}
#footer ul li a{
               color:#D4D4C6;
               background-color:inherit;
               font:normal 11px/19px Arial, Helvetica, sans-serif;
               padding:0 7px;
              text-decoration:none;

}
#footer ul li a:hover{
               color:white;
               font:normal 11px/19px Arial, Helvetica, sans-serif;
               background:url(ACU.jpg);
}

#footer p.design{
               font:bold 12px/19px Arial, Helvetica, sans-serif;
               color:#ffffff;
               background-color:inherit;
               position:absolute;
               left:318px;
               top:58px;

}


#footer p.design a{
               color:#f7f707; 
               background-color:inherit; 
               text-decoration:none;
}

p.alert {
  width: relative;
  color: white;
  background-color: red;
  font:bold 17px/19px Arial, Helvetica, sans-serif;
  text-align: center;
}
p.notice {
  width: relative;
  color: white;
  background-color: green;
  font:bold 17px/19px Arial, Helvetica, sans-serif;
  text-align: center;
}
#error_explanation {
  width: relative;
  border: 3px solid #hhh;
  padding: 7px;
  background-color: white;
}


#error_explanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 18px;
  list-style: square;
}

#formsShow{
 padding: 0 0 0 370px;
}
#forms{
 padding: 0 0 0 410px;
}
#formsST{
 padding: 0 0 0 395px;
}
#formsG{
 padding: 0 0 0 430px;
}
#formsG2{
 padding: 0 0 0 390px;
}

#formsTrans{
 padding: 0 0 0 410px;
}

#fieldform{
 padding: 0 0 0 260px;
}

#labelform{
 padding: 0 0 0 265px;

}
#formsGuestName{
 padding: 0 0 0 420px;
}

#formsGuestNameL{
	float: left;
	padding: 0 0 0 230px;
}
#formsGuestNameM{ 
	font: normal 15px/17px Lucidia Handwritting;
	color: #323232;
	float: left;
	padding: 0 100px 0 0;
}
#formsGuestNameM h2{ 
	font: italic 28px Lucidia Handwritting;
}


#formsGuestNameR{
	
}

#formsGuestName2{

 padding: 0 0 0 419px;


}

#formsuser{

 padding: 0 0 0 300px;

}
#formsuser p{
    font-size:18px;
    padding: 0 0 0 80px;
}
#formsuserALL{

   width: 100%;

}
#formsuserALL p{
    font-size:18px;
    padding: 0 0 0 80px;
}
#adminError2 p{
    color:red;
    font-size:18px;
	text-align: center;
}
#adminError p{
    color:red;
    font-size:18px;
	text-align: center;
}
h1{
text-align:center;
padding: 0 270px 0 0;
}
h4{
text-align:center;
padding: 0 270px 0 0;
font:bold 22px/27px Arial, Helvetica, sans-serif;
}
h5{
text-align:center;
padding: 0 270px 0 0;
font:bold 22px/27px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#formspool{

 padding: 0 0 0 0;

}
.field2{
 padding: 0 0 0 28px;
}

#formspfs{

 padding: 0 0 0 351px;

}
#formDevise {
    padding: 0 19px 0 0;

}
#formDevise a {
    float:right;

}
#formDevise fieldset {
    background-color:#D4D4C6;
    padding: 0 0 0 0;
    width: 101.5%;
    
}

#formDevise legend {
    color: white;
    background-color: #323232;
    font-family: sans-serif;
    font-weight:bold;
    padding: 7px 10px 7px 2px;
    text-align:center;
    border: solid white 4px;
    width: 100%;

}
#formDevise label {
    width: 7em;
    float:left;
    margin: 20px 0 0 300px;
    display: block;
    font-weight:bold;
    color:#323232;

}

#submit {
    margin-left:445px;
}
#submitST {
    margin: 0 0 0 402px;
}
#submitST1 {
    margin: 0 0 0 430px;
}
#submit2 {
    margin-left:400px;
}

#submit3 {
    margin-left:81px;
    padding: 7px 0 0 0;
}
#submit4 {
    padding: 10px 0 0 12px;
}
#submit4R {

}
#submit5 {
    padding: 10px 0 0 2px;
}
#submitUser {
    margin-left:400px;
}
#submituserALL {
    padding: 0 0 0 385px;
}
#submitEUsers {
    margin-left:410px;
}
#submitPool {
    padding: 0 0 0 400px;
}


#formstix
{
 padding: 0 0 0 416px;
}

#formstix2
{
 padding: 0 20px 0 266px;
}

#formsEditIndividual
{
    padding: 0 0 0 383px;


}

#formsEditIndividual2 h2
{
    padding: 0 0 0 362px;


}

#formstix2 p
{
   width: 100%;
   font-weight: bolder;
   font-size: 18px;
    padding: 0 0 0 121px;
}

#formstix p
{

 font-weight: bolder;
    font-size: 18px;
    text-align: left;

}

h2
{
 padding: 0 0 0 80px;
 font-size:28px;
}

h3
{
 text-align:center;
 font-size:28px;
}

#aboutus {
                height:394px;
                width: 981px;
                text-align: center;
}


#aboutus img {
                height: 163px;
                width: 170px;

}


#aboutus p {
    height: 151px;
    width: 284px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    color: white;
    text-indent: 20px;
    text-align: left;
    padding: 0 0 10px 2px;
    background-color: #323232;


}
#layer1 {
    position: absolute;
    width: 286px;
    height: 385px;
    left: 4px;
    outline: solid #323232 2px;
    border:  solid white 4px;
}

#layer1 img {
    padding: 10px 0 0 0;
}

#layer2{
    position: absolute;
    width: 286px;
    height: 385px;
    left: 343px;
    outline: solid #323232 2px;
    border:  solid white 4px;
}
#layer2 p{
	text-align: center;
}

#layer2 img {
    margin: 10px 0 0 0;
    border: solid black 1px;
}

#layer3{
    position: absolute;
    width: 286px;
    height: 385px;
    left: 682px;
    outline: solid #323232 2px;
    border:  solid white 4px;
}

#layer3 img {
    margin: 10px 0 0 0;
    border: solid black 1px;
}
#usercontainer {
                height:120px;
                width: 100px;
                text-align: center;
                font:bold 18px/20px Arial, Helvetica, sans-serif;
}
#usercontainer p {
    height: 90px;
    width: 240px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    color: white;
    margin: 5px 0 0 0;
    background-color: #323232;
    font:bold 18px/20px Arial, Helvetica, sans-serif;
    text-align: center;
}
#usersummary {
    position: absolute;
    left: 360px;
    outline: solid #323232 2px;
    border:  solid white 4px;
}
#usercontainermain {
                height:190px;
                width: 100px;
                text-align: center;
                font:bold 18px/20px Arial, Helvetica, sans-serif;
}
#usercontainermain p {
    height: 125px;
    width: 240px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    color: white;
    margin: 5px 0 0 0;
    background-color: #323232;
    font:bold 18px/20px Arial, Helvetica, sans-serif;
    text-align: center;
}
#usersummarymain {
    position: absolute;
    left: 360px;
    outline: solid #323232 2px;
    border:  solid white 4px;
}
#usercontainermain2 {
				padding: 70px 0 0 0;
                height:190px;
                width: 100px;
                text-align: center;
                font:bold 18px/20px Arial, Helvetica, sans-serif;
}
#usercontainermain2 p {
    height: 125px;
    width: 240px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    color: white;
    margin: 5px 0 0 0;
    background-color: #323232;
    font:bold 18px/20px Arial, Helvetica, sans-serif;
    text-align: center;
}
#usersummarymain2 {
    position: absolute;
    left: 365px;
    outline: solid #323232 2px;
    border:  solid white 4px;
}